<h1>Search apartment by size</h1>
<form method="get" action="/Properties/DoSearchBySize" class="col-md-6">
    <div>
        Min.Year: <input name="minYear" class="form-control" />
    </div>
    <div>
        Max.Year: <input name="maxYear" class="form-control" />
    </div>
    <div>
        Min.Size: <input name="minSize" class="form-control" />
    </div>
    <div>
        Max.Size: <input name="maxSize" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-primary float-right" value="Search" />
</form>